---
import { ModeToggle } from './mode-toggle';
---

<header class='w-full p-4'>
  <nav class='flex flex-row justify-between px-4 py-2 items-center'>
    <a class='text-nowrap text-zinc-100 text-2xl'>Cnel Outage</a>
    <ModeToggle client:load />
  </nav>
</header>
