---

---

<style>
  .radial-gradient {
    background-image: radial-gradient(closest-side, #fbda54dc, transparent);
    height: 840px;
    width: 840px;
    position: absolute;
    top: -480px;
    right: 25%;
    opacity: 0.4;
    backdrop-filter: blur(32px);
    pointer-events: none;
  }
</style>

<div class='radial-gradient'></div>
